{% extends "base.html.twig" %}
{#On ecrase le block "title" #}
{% block titke %}
	Share it!
{% endblock %}

{% block body %}
	<h1>Share It!</h1>

	<form method="post" enctype="multipart/form-data">

		<label>Fichier</label><br>
		<input type="file" name="fichier"><br><br>

		<input type="submit" value="envoyer">
	</form>

{% endblock %}
